@property --angle {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@keyframes rotateAngle {
	0% {
		--angle: 0deg;
	}
	100% {
		--angle: 360deg;
	}
}

.app-container {
	--border-width: 3px;

	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	margin: var(--border-width);
	border-radius: var(--border-width);
	padding: 12px 22px 14px;
	height: 200px;
	background-color: var(--background-color);
	font-family: var(--font-family);
}

.app-container::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	border-radius: calc(2 * var(--border-width));
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	animation: rotateAngle 4s linear infinite;
}

.app-container.themeOFF::before {
	background: conic-gradient(hsla(0, 0%, 20%, 0.9));
}

.app-container.themeWHITE::before {
	background: conic-gradient(
		from var(--angle),
		hsla(0, 0%, 12%, 0.9),
		hsla(0, 0%, 20%, 0.9),
		hsla(0, 0%, 40%, 0.9),
		hsla(0, 0%, 60%, 0.9),
		hsla(0, 0%, 80%, 0.9),
		hsla(0, 0%, 100%, 0.9),
		hsla(0, 0%, 80%, 0.9),
		hsla(0, 0%, 60%, 0.9),
		hsla(0, 0%, 40%, 0.9),
		hsla(0, 0%, 20%, 0.9),
		hsla(0, 0%, 12%, 0.9)
	);
}

.app-container.themeALL::before {
	background: conic-gradient(
		from var(--angle),
		hsla(359, 100%, 50%, 0.9),
		hsla(30, 100%, 50%, 0.9),
		hsla(60, 100%, 50%, 0.9),
		hsla(120, 100%, 50%, 0.9),
		hsla(170, 100%, 50%, 0.9),
		hsla(230, 100%, 50%, 0.9),
		hsla(270, 100%, 50%, 0.9),
		hsla(320, 100%, 50%, 0.9)
	);
}

.app-container.themeRED::before {
	background: conic-gradient(
		from var(--angle),
		hsla(0, 100%, 100%, 0.9),
		hsla(0, 100%, 80%, 0.9),
		hsla(0, 100%, 60%, 0.9),
		hsla(0, 100%, 40%, 0.9),
		hsla(0, 100%, 30%, 0.9),
		hsla(0, 100%, 10%, 0.9),
		hsla(0, 100%, 30%, 0.9),
		hsla(0, 100%, 40%, 0.9),
		hsla(0, 100%, 60%, 0.9),
		hsla(0, 100%, 80%, 0.9),
		hsla(0, 100%, 100%, 0.9)
	);
}

.app-container.themeORANGE::before {
	background: conic-gradient(
		from var(--angle),
		hsla(22, 100%, 100%, 0.9),
		hsla(22, 100%, 80%, 0.9),
		hsla(22, 100%, 60%, 0.9),
		hsla(22, 100%, 40%, 0.9),
		hsla(22, 100%, 30%, 0.9),
		hsla(22, 100%, 20%, 0.9),
		hsla(22, 100%, 30%, 0.9),
		hsla(22, 100%, 40%, 0.9),
		hsla(22, 100%, 60%, 0.9),
		hsla(22, 100%, 80%, 0.9),
		hsla(22, 100%, 100%, 0.9)
	);
}

.app-container.themeYELLOW::before {
	background: conic-gradient(
		from var(--angle),
		hsla(60, 100%, 100%, 0.9),
		hsla(60, 100%, 80%, 0.9),
		hsla(60, 100%, 60%, 0.9),
		hsla(60, 100%, 40%, 0.9),
		hsla(60, 100%, 30%, 0.9),
		hsla(60, 100%, 20%, 0.9),
		hsla(60, 100%, 30%, 0.9),
		hsla(60, 100%, 40%, 0.9),
		hsla(60, 100%, 60%, 0.9),
		hsla(60, 100%, 80%, 0.9),
		hsla(60, 100%, 100%, 0.9)
	);
}

.app-container.themeGREEN::before {
	background: conic-gradient(
		from var(--angle),
		hsla(120, 100%, 100%, 0.9),
		hsla(120, 100%, 80%, 0.9),
		hsla(120, 100%, 60%, 0.9),
		hsla(120, 100%, 40%, 0.9),
		hsla(120, 100%, 30%, 0.9),
		hsla(120, 100%, 20%, 0.9),
		hsla(120, 100%, 30%, 0.9),
		hsla(120, 100%, 40%, 0.9),
		hsla(120, 100%, 60%, 0.9),
		hsla(120, 100%, 80%, 0.9),
		hsla(120, 100%, 100%, 0.9)
	);
}

.app-container.themeTEAL::before {
	background: conic-gradient(
		from var(--angle),
		hsla(170, 100%, 100%, 0.9),
		hsla(170, 100%, 80%, 0.9),
		hsla(170, 100%, 60%, 0.9),
		hsla(170, 100%, 40%, 0.9),
		hsla(170, 100%, 30%, 0.9),
		hsla(170, 100%, 20%, 0.9),
		hsla(170, 100%, 30%, 0.9),
		hsla(170, 100%, 40%, 0.9),
		hsla(170, 100%, 60%, 0.9),
		hsla(170, 100%, 80%, 0.9),
		hsla(170, 100%, 100%, 0.9)
	);
}

.app-container.themeBLUE::before {
	background: conic-gradient(
		from var(--angle),
		hsla(220, 100%, 100%, 0.9),
		hsla(220, 100%, 80%, 0.9),
		hsla(220, 100%, 60%, 0.9),
		hsla(220, 100%, 40%, 0.9),
		hsla(220, 100%, 30%, 0.9),
		hsla(220, 100%, 20%, 0.9),
		hsla(220, 100%, 30%, 0.9),
		hsla(220, 100%, 40%, 0.9),
		hsla(220, 100%, 60%, 0.9),
		hsla(220, 100%, 80%, 0.9),
		hsla(220, 100%, 100%, 0.9)
	);
}

.app-container.themePURPLE::before {
	background: conic-gradient(
		from var(--angle),
		hsla(270, 100%, 100%, 0.9),
		hsla(270, 100%, 80%, 0.9),
		hsla(270, 100%, 60%, 0.9),
		hsla(270, 100%, 40%, 0.9),
		hsla(270, 100%, 30%, 0.9),
		hsla(270, 100%, 20%, 0.9),
		hsla(270, 100%, 30%, 0.9),
		hsla(270, 100%, 40%, 0.9),
		hsla(270, 100%, 60%, 0.9),
		hsla(270, 100%, 80%, 0.9),
		hsla(270, 100%, 100%, 0.9)
	);
}

.app-container.themeMAGENTA::before {
	background: conic-gradient(
		from var(--angle),
		hsla(320, 100%, 100%, 0.9),
		hsla(320, 100%, 80%, 0.9),
		hsla(320, 100%, 60%, 0.9),
		hsla(320, 100%, 40%, 0.9),
		hsla(320, 100%, 30%, 0.9),
		hsla(320, 100%, 20%, 0.9),
		hsla(320, 100%, 30%, 0.9),
		hsla(320, 100%, 40%, 0.9),
		hsla(320, 100%, 60%, 0.9),
		hsla(320, 100%, 80%, 0.9),
		hsla(320, 100%, 100%, 0.9)
	);
}
