.app-container {
	--border-width: 3px;

	font-family: var(--font-family);
	position: relative;
	margin: var(--border-width);
	padding: 12px 22px 14px;
	min-height: 200px;
	background-color: var(--background-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: var(--border-width);
}

.app-container::before {
	position: absolute;
	content: "";
	z-index: -1;
	top: calc(-1 * var(--border-width));
	left: calc(-1 * var(--border-width));
	width: calc(100% + var(--border-width) * 2);
	height: calc(100% + var(--border-width) * 2);
	background: linear-gradient(
		60deg,
		hsl(224, 85%, 40%),
		hsl(270, 85%, 40%),
		hsl(314, 85%, 40%),
		hsl(var(--hValue), 0%, 20%),
		hsl(var(--hValue), 0%, 40%),
		hsl(var(--hValue), 0%, 60%),
		hsl(var(--hValue), 0%, 80%),
		hsl(var(--hValue), 0%, 100%),
		hsl(var(--hValue), 0%, 80%),
		hsl(var(--hValue), 0%, 60%),
		hsl(var(--hValue), 0%, 40%),
		hsl(var(--hValue), 0%, 20%),
		hsl(44, 85%, 40%),
		hsl(89, 85%, 40%),
		hsl(134, 85%, 40%),
		hsl(179, 85%, 40%),
		hsl(var(--hValue), 0%, 10%)
	);
	background-size: 300% 300%;
	background-position: 0 50%;
	border-radius: calc(2 * var(--border-width));
	animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
	50% {
		background-position: 100% 50%;
	}
}
