@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@600&display=swap");

:root {
	/* App Fonts */
	--font-family: "Roboto Condensed", sans-serif;

	/* App colors */
	--background-color: hsl(0, 0%, 12%);
	--font-white: hsl(0, 0%, 96%);
	--font-black: hsl(0, 0%, 9%);

	/* Clock colors */
	--clockFace-color: hsl(0, 0%, 14%);
	--clockBorder-color: hsl(0, 0%, 14%, 0.9);
	--dialLine-disable-color: hsla(0, 100%, 50%, 0.5);
	--dialLine-mute-color: hsla(0, 0%, 30%, 1);
	--glow-color: hsla(0, 0%, 98%, 1);
	--clock-size: 180px;
}

body {
	background-color: #141414;
}
