.drawer-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	justify-items: center;
	position: fixed;
	/* right: -170px; */
	right: 0;
	transition: right 2s linear;
	border: 2px outset hsl(0, 0%, 40%);
	border-top-left-radius: 8%;
	border-bottom-left-radius: 8%;
	padding: 12px 12px 12px 22px;
	background-color: hsl(0, 0%, 14%);
	box-shadow: 12px -12px 36px hsla(0, 0%, 23%, 0.9),
		-12px 12px 36px hsla(0, 0%, 0%, 0.9),
		inset 1px -2px 1px hsla(0, 0%, 28%, 0.7);
	text-align: center;
}

.action {
	display: block;
	border: 2px outset rgb(100, 100, 100);
	border-radius: 10px;
	padding: 4px;
	width: 80px;
	height: 34px;
	background-color: hsl(0, 0%, 89%);
	cursor: pointer;
	font-size: 16px;
}

label {
	color: var(--font-white);
	font-size: 18px;
	font-weight: 600;
}

select.action {
	text-align: center;
}

#playPauseButton {
}
